<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant Apps</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap">
  </head>
  <body>
    <a href="#mainContent" class="skip-to-content">Skip to Content</a>
    <header class="app-bar">
      <nav id="drawerNavigation" class="drawer-navigation">
        <div class="logo">
          <img src="icon/utensils-solid.svg" width="28px" alt="Logo Aplikasi">
          <h1>Foody</h1>
        </div>
        <div class="menu-item">
          <div class="drawer">
            <button id="hamburgerButton" class="hamburger-button">☰</button>
          </div>
          <div class="navbar-item">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Favourite</a></li>
              <li><a href="https://www.linkedin.com/in/hasan-lumbantoruan" target="blank">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="main-content" id="mainContent">
      <section class="hero">
        <div class="container">
          <h1>Discover the Best Restaurant in Town</h1>
          <p>Explore restaurants with various specialties</p>
        </div>
      </section>

      <div class="wrapper">
        <h2>Most Popular Restaurant</h2>
      </div>

      <section class="restaurant-list">
        <restaurant-list></restaurant-list>
      </section>
    </main>
    <footer>
      <div class="footer-content">
        <p>Copyright &copy; 2024 | hasan lumbantoruan</p>
      </div>
    </footer>
  </body>
</html>
